<div class="row">
    <div class="col-md-4">
        <div class="img-holder">
            <img src="assets/images/gina lopez.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="col-md-8 p-rel">
        <h4>Do you like our president?</h4>
        <div class="survey-info">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          <span>Yes</span>
          <span>No</span>
        </div>

        <div class="button-holder p-abs">
          <a href="" >300 Respondents</a>
        </div>
    </div>
</div>