<div class="row">
    <div class="col-md-4">
        <div class="img-holder">
            <img src="{{survey.question_img}}" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="col-md-8 p-rel d-flex flex-column">
        <div class="f-10">
            <h4>{{survey.question_caption}}</h4>
        </div>
        <div class="survey-info f-80">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          <span>Yes</span>
          <span>No</span>
        </div>
        <div class="button-holder align-self-end f-10">
          <a href="" >{{ survey.respondents || 0}} Respondents</a>
        </div>
    </div>
</div>