.surveys-container{
    box-sizing: border-box;
    /*padding: 1rem;*/
    background-color: #FEFEFE;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

