<form #pollOption="ngForm" (ngSubmit)="onSubmit(pollOption.value)">
  <div id="option-holder" class="d-flex flex-column">
    <div class="flx-item d-flex flex-column">

        <label *ngFor="let item of options; let i = index"class="custom-control custom-radio">
          <input id="opt-{{I}}"  name="options" ng-control="options" [value]="item.option_id" type="radio" class="custom-control-input" [(ngModel)]="poll" required>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{item.option_caption}}</span>
        </label>
      <small class="text-muted"><i>***Please vote to see the survey results.</i></small>
    </div>
    <div class="flx-item row">
      <div class="col-md-2 offset-md-10">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!pollOption.form.valid">Vote</button>
      </div>
    </div>
  </div>
  

</form>