<div class="admin-content">
  <div class="row head">
    <div class="col-md-6">
      <h4>Add Survey</h4>
    </div>
    <div class="col-md-4 offset-md-2">
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
                      
      <shrd-survey-form 
        (formSubmit)="save($event)"
        [categories]="categories" 
        [types]="types" 
        [pending]="isSaving"
        [msg]="msg"
        [isSuccess]="isSuccess"></shrd-survey-form>
    </div>
  </div>
</div>
