<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">


  <div [hidden]="active != 0">
    <h4>Profile</h4>

    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email address" [formGroup]="form"
            formControlName="email">
      <span *ngIf="form.controls['email'].touched">
        <sh-input-help *ngIf="form.controls['email'].hasError('required')" 
                      [type]="'danger'">Email address is required.</sh-input-help>
        <sh-input-help *ngIf="form.controls['email'].hasError('email') && form.controls['email'].value" 
                      [type]="'danger'">Invalid email address</sh-input-help>
      </span>
    </div>


    <div class="row">
      <div class="col-9">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter First name" [formGroup]="form"
                formControlName="firstname">    
          <span *ngIf="form.controls['firstname'].touched">
            <sh-input-help *ngIf="form.controls['firstname'].hasError('required')" 
                          [type]="'danger'">First Name is required.</sh-input-help>
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="name_suffix">Suffix</label>
          <input type="text" class="form-control" id="name_suffix" placeholder="Optional" [formGroup]="form"
                formControlName="name_suffix">    
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="middlename">Middle Name</label>
          <input type="text" class="form-control" id="middlename" placeholder="Enter Middle name" [formGroup]="form"
                formControlName="middlename">    
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" id="lname" placeholder="Enter Last name" [formGroup]="form"
                formControlName="lastname">    
          <span *ngIf="form.controls['lastname'].touched">
            <sh-input-help *ngIf="form.controls['lastname'].hasError('required')" 
                          [type]="'danger'">Last Name is required.</sh-input-help>
          </span>
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" [formGroup]="form"
                formControlName="gender">
                <option value="">Please Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
          </select>
          <span *ngIf="form.controls['gender'].touched">
            <sh-input-help *ngIf="form.controls['gender'].hasError('required')" 
                          [type]="'danger'">Gender is required.</sh-input-help>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age" placeholder="Enter Age" [formGroup]="form"
                formControlName="age">    
          <span *ngIf="form.controls['age'].touched">
            <sh-input-help *ngIf="form.controls['age'].hasError('required')" 
                          [type]="'danger'">Age is required.</sh-input-help>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"  [formGroup]="form"
            formControlName="password">    
      <span *ngIf="form.controls['password'].touched">
        <sh-input-help *ngIf="form.controls['password'].hasError('required')" 
                      [type]="'danger'">Password is required.</sh-input-help>
        <sh-input-help *ngIf="form.controls['password'].hasError('minlength')" 
                      [type]="'danger'">Password must be atlease 6 characters.</sh-input-help>
      </span>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword"  [formGroup]="form"
            formControlName="confirmPassword">    
      <span *ngIf="form.controls['confirmPassword'].touched && 
                  form.controls['password'].touched && 
                  form.controls['password'].value">

        <sh-input-help *ngIf="form.controls['confirmPassword'].hasError('required')" 
                      [type]="'danger'">Please confirm your password.</sh-input-help>
        <sh-input-help *ngIf="form.controls['confirmPassword'].hasError('matchPassword')" 
                      [type]="'danger'">Passwords do not match.</sh-input-help>

      </span>
    </div>

  </div>


  <div [hidden]="active != 1">
    <h4>Address</h4>

    <div class="form-group">
      <label for="address1">House no./Street</label>
      <input type="text" class="form-control" id="address1" placeholder="" [formGroup]="form"
            formControlName="address1">
      <span *ngIf="form.controls['address1'].touched">
        <sh-input-help *ngIf="form.controls['address1'].hasError('required')" 
                      [type]="'danger'">House no./Street  is required</sh-input-help>
      </span>
    </div>

     <div class="form-group">
      <label for="address2">Barangay/Subdivision</label>
      <input type="text" class="form-control" id="address2" placeholder="" [formGroup]="form"
            formControlName="address2">
      <span *ngIf="form.controls['address2'].touched">
        <sh-input-help *ngIf="form.controls['address2'].hasError('required')" 
                      [type]="'danger'">Barangay/Subdivision  is required</sh-input-help>
      </span>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="" [formGroup]="form"
                formControlName="city">
          <span *ngIf="form.controls['city'].touched">
            <sh-input-help *ngIf="form.controls['city'].hasError('required')" 
                          [type]="'danger'">City is required</sh-input-help>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="province">Province</label>
          <input type="text" class="form-control" id="province" placeholder="" [formGroup]="form"
                formControlName="province">
          <span *ngIf="form.controls['province'].touched">
            <sh-input-help *ngIf="form.controls['province'].hasError('required')" 
                          [type]="'danger'">Province is required</sh-input-help>
          </span>
        </div>
      </div>
    </div>
  </div>




  <div [hidden]="active != 2">
    <h4>Education</h4>
    <div id="college_info">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" 
              [formGroup]="form"
              formControlName="college" (change)="removeDisable($event,['c_school','c_year_grad'])">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">College</span>
      </label>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group" >
            <label for="c_school">College Name</label>
            <input type="text"  class="form-control" id="c_school" placeholder="School Name" [formGroup]="form"
                  formControlName="c_school">    
            <span *ngIf="form.controls['c_school'].touched">
              <sh-input-help *ngIf="form.controls['c_school'].hasError('required')" 
                            [type]="'danger'">This is a required field.</sh-input-help>
            </span>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="c_year_grad">Year</label>
              <select class="form-control" id="c_year_grad"  
                  [formGroup]="form"
                  formControlName="c_year_grad">
                  <option value="">Please Select</option>
                  <option *ngFor="let year of year_range" value="{{year}}">{{year}}</option>
              </select>
              <span *ngIf="form.controls['c_year_grad'].touched">
              <sh-input-help *ngIf="form.controls['c_year_grad'].hasError('required')" 
                            [type]="'danger'">This is a required field.</sh-input-help>
            </span>
            </div>
        </div>
      </div>
    </div>

    <div id="secondary_info">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" 
              [formGroup]="form"
              formControlName="secondary" (change)="removeDisable($event,['s_school','s_year_grad'])">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Secondary</span>
      </label>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group" >
            <label for="s_school">School Name</label>
            <input type="text"  class="form-control" id="s_school" placeholder="School Name" [formGroup]="form"
                  formControlName="s_school">    
            <span *ngIf="form.controls['s_school'].touched">
              <sh-input-help *ngIf="form.controls['s_school'].hasError('required')" 
                            [type]="'danger'">This is a required field.</sh-input-help>
            </span>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="s_year_grad">Year</label>
              <select class="form-control" id="s_year_grad"  
                  [formGroup]="form"
                  formControlName="s_year_grad">
                  <option value="">Please Select</option>
                  <option *ngFor="let year of year_range" value="{{year}}">{{year}}</option>
              </select>
              <span *ngIf="form.controls['s_year_grad'].touched">
              <sh-input-help *ngIf="form.controls['s_year_grad'].hasError('required')" 
                            [type]="'danger'">This is a required field.</sh-input-help>
            </span>
            </div>

        </div>
      </div>
    </div>

    <div id="primary_info">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" 
              [formGroup]="form"
              formControlName="elementary" (change)="removeDisable($event,['e_school','e_year_grad'])">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Elementary</span>
      </label>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group" >
            <label for="e_school">School Name</label>
            <input type="text"  class="form-control" id="e_school" placeholder="School Name" [formGroup]="form"
                  formControlName="e_school">
            <span *ngIf="form.controls['e_school'].touched">
              <sh-input-help *ngIf="form.controls['e_school'].hasError('required')" 
                            [type]="'danger'">This is a required field.</sh-input-help>
            </span>
          </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
              <label for="e_year_grad">Year</label>
              <select class="form-control" id="e_year_grad"  
                  [formGroup]="form"
                  formControlName="e_year_grad">
                  <option value="">Please Select</option>
                  <option *ngFor="let year of year_range" value="{{year}}">{{year}}</option>
              </select>
              <span *ngIf="form.controls['e_year_grad'].touched">
                <sh-input-help *ngIf="form.controls['e_year_grad'].hasError('required')" 
                              [type]="'danger'">This is a required field.</sh-input-help>
              </span>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div [hidden]="active != 3">
    <h4>Additional Information</h4>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="religion">Religion</label>
          <input type="text" class="form-control" id="religion" min="0" [formGroup]="form"
                formControlName="religion">    
          <span *ngIf="form.controls['religion'].touched">
            <sh-input-help *ngIf="form.controls['religion'].hasError('required')" 
                          [type]="'danger'">This field is required.</sh-input-help>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="no_of_children">No. of Children</label>
          <input type="number" class="form-control" id="no_of_children" min="0" [formGroup]="form"
                formControlName="no_of_children">    
          <span *ngIf="form.controls['no_of_children'].touched">
            <sh-input-help *ngIf="form.controls['no_of_children'].hasError('required')" 
                          [type]="'danger'">This field is required.</sh-input-help>
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="residential_status">Residential Status</label>
          <select name="" class="form-control" id="residential_status"  [formGroup]="form" formControlName="residential_status">
            <option value="">Please Select</option>
            <option value="rent">Rent</option>
            <option value="mortgage">Mortgage</option>
            <option value="owned">Owned</option>
          </select>
          <span *ngIf="form.controls['residential_status'].touched">
            <sh-input-help *ngIf="form.controls['residential_status'].hasError('required')" 
                          [type]="'danger'">This field is required.</sh-input-help>
          </span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="custom-control custom-checkbox" style="margin-bottom: .5rem">
            <input type="checkbox" class="custom-control-input" 
                  [formGroup]="form"
                  formControlName="car_owner" (change)="removeDisable($event,['no_of_cars'])">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Car Owner</span>
          </label>
          <input type="number" 
                [formGroup]="form"
                formControlName="no_of_cars" min="1" class="form-control" placeholder="No. of Cars">
          <span *ngIf="form.controls['no_of_cars'].touched">
            <sh-input-help *ngIf="form.controls['no_of_cars'].hasError('required')" 
                              [type]="'danger'">This is a required field.</sh-input-help>
          </span>
        </div>
        <!--<div class="form-inline">
          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <input type="checkbox" class="custom-control-input" 
                  [formGroup]="form"
                  formControlName="car_owner" (change)="removeDisable($event,['no_of_cars'])">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Car Owner</span>
          </label>
          <input type="number" 
                [formGroup]="form"
                formControlName="no_of_cars" min="1" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="No. of Cars">
          <span *ngIf="form.controls['no_of_cars'].touched">
            <sh-input-help *ngIf="form.controls['no_of_cars'].hasError('required')" 
                                [type]="'danger'">This is a required field.</sh-input-help>
          </span>
        </div>-->
      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label for="civilstatus">Civil Status</label>
          <select name="" class="form-control" id="civilstatus"  [formGroup]="form" formControlName="civilstatus">
            <option value="">Please Select</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
            
            <option value="divorced">Divorced</option>
            <option value="widowed">Widowed</option>
          </select>
          <span *ngIf="form.controls['civilstatus'].touched">
            <sh-input-help *ngIf="form.controls['civilstatus'].hasError('required')" 
                          [type]="'danger'">This field is required.</sh-input-help>
          </span>
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <input type="text" class="form-control" id="occupation"  [formGroup]="form"
            formControlName="occupation">    
      <span *ngIf="form.controls['occupation'].touched">
        <sh-input-help *ngIf="form.controls['occupation'].hasError('required')" 
                      [type]="'danger'">This field is required.</sh-input-help>
      </span>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="yr_in_job">Years in job</label>
          <input type="number" class="form-control" id="yr_in_job" min="0"  [formGroup]="form"
                formControlName="yr_in_job">    
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="annual_salary">Annual Salary</label>
          <input type="number" class="form-control" id="annual_salary" min="0"  [formGroup]="form"
                formControlName="annual_salary">    
        </div>
      </div>
    </div>

    
    
    
    



  </div>

  <div [hidden]="active != 4">
    <h4>Interest</h4>
    <div class="custom-controls-stacked">

      <label *ngFor="let category of categories" class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <input type="checkbox" class="custom-control-input" 
               name="interest" (change)="updateInterest($event,category.id)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{category.category_name}}</span>
      </label>



    </div>
  
  </div>

  <br>







  <shrd-well *ngIf="formModel.msg" [type]="formModel.isSuccess ? 'success': 'danger'">{{formModel.msg}}</shrd-well>

  <button type="button" class="btn btn-primary" *ngIf="active > 0" (click)="prev()">Previous</button>
  <button type="button" class="btn btn-primary" *ngIf="active < 4" (click)="next()">Next</button>
  <button type="submit" class="btn btn-success" *ngIf="active == 4">Save</button>
</form>


