.f-s-item{
    display: none;
}
.f-s-item.active{
    display: flex;
}

.title{
    font-size: 14px;
    flex:1;
    font-weight: 300;
    color: #ccc;
}


.survey-content{
    font-size: 25px;
    font-weight: 400;
    flex: 1;
    min-height: 130px;
}

.margin-lr{
    padding: 0 20px;
}
.flex-item{
    display: flex;
    box-sizing: border-box;
    flex: 1;
}


.survey-info{
    box-sizing: border-box;
    margin: 15px 0;
    display: flex;
    flex: 1;
}

.f-center{
    margin: auto;
}

.f-right{
    justify-content: flex-end;
}

.survey-info .fa{
    color: #e74c3c;
}

.f-left{
    justify-content: flex-start;
}

.btn-secondary{
    background-color: transparent;
    color: #fff;
    padding: 5px 25px;
}

.pagination-btn{
    display: flex;
    flex: 1;
}


