    
<div class="title">Featured Surveys</div>

<div class="survey-content">
  {{question}}
</div>

<div class="survey-info">
  <div class="flex-item margin-lr f-center f-right">
      <p><i class="fa fa-circle" aria-hidden="true"></i> {{respondents}} Respondents  </p>
  </div>
  <div class="flex-item margin-lr f-left">
    <button class="btn btn-secondary">Vote</button>
  </div>
</div>

<div class="pagination-btn">
    <survey-carousel-page [fSurveys]="fSurveys" (change)="updateData($event)"></survey-carousel-page>
</div>
