    
<div class="title">Featured Surveys</div>

<div class="survey-content">
  {{question}}
  <!--<div class="f-s-item active">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum commodi, doloribus dolorem! Veniam nulla quos ut saepe quae, odio, temporibus rerum. Beatae neque officia commodi corporis nemo doloribus itaque veritatis!
  </div>
  <div class="f-s-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum commodi, doloribus dolorem! Veniam nulla quos ut saepe quae, odio, temporibus rerum. Beatae neque officia commodi corporis nemo doloribus itaque veritatis!
  </div>
  <div class="f-s-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum commodi, doloribus dolorem! Veniam nulla quos ut saepe quae, odio, temporibus rerum. Beatae neque officia commodi corporis nemo doloribus itaque veritatis!
  </div>
  <div class="f-s-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum commodi, doloribus dolorem! Veniam nulla quos ut saepe quae, odio, temporibus rerum. Beatae neque officia commodi corporis nemo doloribus itaque veritatis!
  </div>-->
</div>




<div class="survey-info">
  <div class="flex-item margin-lr f-center f-right">
      <p><i class="fa fa-circle" aria-hidden="true"></i> {{respondents}} Respondents  </p>
  </div>
  <div class="flex-item margin-lr f-left">
    <button class="btn btn-secondary">Vote</button>
  </div>
</div>




<div class="pagination-btn">
    <survey-carousel-page [fSurveys]="fSurveys" (change)="updateData($event)"></survey-carousel-page>
</div>
