<pre>
{{ option | json }}
</pre>
<div class="vote-container p-3">
  <h4>
    {{survey.question_caption}} 
    <br>
    <small class="text-muted">{{ survey.created_at  | date:'fullDate' }}</small>
  </h4>
  <div class="d-flex o-x-hidden p-2">
    <img src="{{survey.question_img || 'assets/images/default-img.jpg'}}" class="d-block mlr-auto" alt="">
  </div>

  <div class="option-holder">
    <srvy-poll-option
      [pending]="'false'"
      [isSuccess]="'false'"
      [options]="options"
      (formSubmit)="vote($event)"></srvy-poll-option>
  </div>
</div>
<br>
<!--[options]="options"-->