<div class="d-flex full-page landing-page flex-column">
  <home-nav (signInClick)="showSignInModal($event)"></home-nav>

  <div class="home-body d-flex">
    <div class="home-featured d-flex flex-column">
      <div class="note-muted f-title">Featured Title</div>
      <div class="f-caption d-flex flex-column">
        <div class="f-active-question d-flex">
          <div class="f-active-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum asperiores possimus numquam non explicabo earum alias fuga eligendi. Eaque animi iste ex quod incidunt, reiciendis magni dolore, esse vitae earum?
          </div>
          
        </div>
        <div class="f-active-info d-flex" >
          <div class="p-2 flex-item-1 d-flex justify-content-end">
            test 1
          </div>
          <div class="p-2 flex-item-1 d-flex justify-content-start">
            test 2
          </div>
        </div>
      </div>
      <div class="f-pagination">
        asdasd
      </div>
    </div>
        
  </div>


  <home-foot></home-foot>
</div>

