<div class="container">



    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="vote-container p-3">
                <div class="d-flex">
                    <div class="m-auto ">
                        <div class="d-flex heading">
                            <div><img src="assets/images/brand.png" width="50px" alt="" class="d-block"></div>
                            <div class="d-flex"><h1 class="v-center">SurveyPH <small class="small d-block text-muted">User Registration</small></h1></div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>        
            </div>
        </div>
    </div>
</div>