/* You can add global styles to this file, and also import other style files */

/*input.ng-touched.ng-invalid{
    border: 1px solid #d50000  ;
}*/

.full-page{
    height: 100vh;
}


.home-head{
    flex-basis: 10%;
}

.home-body{
    flex-basis: 80%;
}

.home-foot{
    /*background-color: red;*/
    flex-basis: 10%;
}

.flex-item-1{
    flex: 1;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled{
    border-color: #d74738;
    background-color: #e74c3c;
}

.btn-primary:hover{
    border-color: #a2352a;
    background-color: #b33b2e;
}

.home-featured{
    flex-basis: 60%;
    margin: 60px auto;
}

.f-title{
    flex-basis: 6%;
}

.note-muted{
    font-size: 15px;
}

.f-caption{
    overflow: hidden;
    flex-basis: 60%;
}
.mr-auto{
    margin: 0 auto;
}

.f-pagination{
    flex-basis: 9%;
}


.f-active-question{
    flex: 4;
}

.f-active-info{
    flex: 1;
}

.f-active-content{
    font-size: 33px;
    margin: auto;
}

.btn-opaque{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}


.btn-wide{
    padding: .25rem 1.5rem;
}


.f-pagination .fa{
    cursor: pointer;
}

[disabled].pending{
    cursor: progress;
}
.f-pagination .fa{
    margin: 0 .1rem;
}


