
<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email address" [formGroup]="form"
           formControlName="email">
    <span *ngIf="form.controls['email'].touched">
      <sh-input-help *ngIf="form.controls['email'].hasError('required')" 
                     [type]="'danger'">Email address is required.</sh-input-help>
      <sh-input-help *ngIf="form.controls['email'].hasError('email') && form.controls['email'].value" 
                     [type]="'danger'">Invalid email address</sh-input-help>
    </span>
  </div>


  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter First name" [formGroup]="form"
          formControlName="fname">    
    <span *ngIf="form.controls['fname'].touched">
      <sh-input-help *ngIf="form.controls['fname'].hasError('required')" 
                    [type]="'danger'">First Name is required.</sh-input-help>
    </span>
  </div>


  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" placeholder="Enter Last name" [formGroup]="form"
          formControlName="lname">    
    <span *ngIf="form.controls['lname'].touched">
      <sh-input-help *ngIf="form.controls['lname'].hasError('required')" 
                    [type]="'danger'">Last Name is required.</sh-input-help>
    </span>
  </div>



  <div class="row">
    <div class="col-md-6">
       <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" [formGroup]="form"
              formControlName="gender">
              <option value="">Please Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
        </select>
        <span *ngIf="form.controls['gender'].touched">
          <sh-input-help *ngIf="form.controls['gender'].hasError('required')" 
                        [type]="'danger'">Gender is required.</sh-input-help>
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Enter Age" [formGroup]="form"
              formControlName="age">    
        <span *ngIf="form.controls['age'].touched">
          <sh-input-help *ngIf="form.controls['age'].hasError('required')" 
                        [type]="'danger'">Age is required.</sh-input-help>
        </span>
      </div>
    </div>
  </div>








  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"  [formGroup]="form"
           formControlName="password">    
    <span *ngIf="form.controls['password'].touched">
      <sh-input-help *ngIf="form.controls['password'].hasError('required')" 
                     [type]="'danger'">Password is required.</sh-input-help>
      <sh-input-help *ngIf="form.controls['password'].hasError('minlength')" 
                     [type]="'danger'">Password must be atlease 6 characters.</sh-input-help>
    </span>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword"  [formGroup]="form"
           formControlName="confirmPassword">    
    <span *ngIf="form.controls['confirmPassword'].touched && 
                 form.controls['password'].touched && 
                 form.controls['password'].value">

      <sh-input-help *ngIf="form.controls['confirmPassword'].hasError('required')" 
                     [type]="'danger'">Please confirm your password.</sh-input-help>
      <sh-input-help *ngIf="form.controls['confirmPassword'].hasError('matchPassword')" 
                     [type]="'danger'">Passwords do not match.</sh-input-help>

    </span>
  </div>



  <shrd-well *ngIf="msg" [type]="isSuccess ? 'success': 'danger'">{{msg}}</shrd-well>
  <!--<div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{errorMsg}}
  </div>-->
  
  <button class="btn btn-primary" [disabled]="isSaving">Register</button>
  
</form>


