<div class="full-container">
  <div class="nav ">
    <div class="nav-item">
      <button class="btn btn-primary">SURVEY</button>
    </div>
    <div class="nav-item ">
      <button class="btn btn-primary float-right" (click)="signIn(content)">SIGN IN</button>
    </div>
  </div>
  <div class="main">
    <div class="f-surveys">
      <app-survey-carousel [fSurveys]="fSurveys"></app-survey-carousel>
    </div>
  </div>

  <div class="foot">
    <div class="flex-item f-bottom">
      <strong class="logo-temp">SurveyPH</strong>
    </div>
    <div class="flex-item f-bottom f-right text-white">
      Facebook / Twitter / Instagram
    </div>
    
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    
    <div class="row">
      <div class="col-md-6 ">
        <h4>Sign in <br><small class="text-muted">Please sign in to continue.</small></h4>
        <form>
           <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <button class="btn btn-primary">Sign in</button>
        </form>
        <br>
      </div>
      <div class="col-md-6 border-left">
        <h4>Register</h4>
        <form>

        </form>
      </div>
    </div>





  </div>
</ng-template>