<div class="full-container">
  <div class="nav ">
    <div class="nav-item">
      <button class="btn btn-primary">SURVEY</button>
    </div>
    <div class="nav-item ">
      <button class="btn btn-primary float-right">SIGN IN</button>
    </div>
  </div>


  <div class="main">
    <div class="f-surveys">

      <div class="title">Featured Surveys</div>
      <div class="survey-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum commodi, doloribus dolorem! Veniam nulla quos ut saepe quae, odio, temporibus rerum. Beatae neque officia commodi corporis nemo doloribus itaque veritatis!
      </div>
      <div class="survey-info">
        <div class="flex-item ">
          <div class="float-right resp">
            <p><i class="fa fa-circle" aria-hidden="true"></i> 1,026 Respondents  </p>
          </div>
        </div>
        <div class="flex-item">
          <button class="btn btn-secondary">Vote</button>
        </div>
      </div>
      <div class="pagination-btn">
          <div class="button-holder">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
          </div>
      </div>


    </div>
    
  </div>












  <div class="foot">
    ASDASDASDS
  </div>
</div>