<div class="full-container">
  <div class="nav ">
    <div class="nav-item">
      <button class="btn btn-primary">SURVEY</button>
    </div>
    <div class="nav-item ">
      <button class="btn btn-primary float-right" (click)="signIn(content)">SIGN IN</button>
    </div>
  </div>
  <div class="main">
    <div class="f-surveys">
      <div class="title">Featured Surveys</div>

      <div class="survey-question">
            {{question}}
      </div>

      <div class="survey-info flex-view">
        <div class="flex-center flex-view">
          <div class="respondents margin-lr flex-view">
            <div class="flex-center">
              <i class="fa fa-circle" style="color:#e74c3c"></i>&nbsp;1026 Respondents
            </div>
          </div>

          <div class="vote-btn margin-lr">
            <button class="btn btn-secondary">Vote</button>
          </div>
        </div>
      </div>


      <div class="survey-paging flex-view">
        <div class="icon-holder flex-view flex-center">
          <i *ngFor="let item of surveys;let i = index" class="fa" 
            [ngClass]="{'fa-circle': i == testDex,
                        'fa-circle-thin': i != testDex }" (click)="setData(i)">
          </i>
        </div>
      </div>
    </div>
  </div>

  <div class="foot">
    <div class="flex-item f-bottom">
      <strong class="logo-temp">SurveyPH</strong>
    </div>
    <div class="flex-item f-bottom f-right text-white">
      Facebook / Twitter / Instagram
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    
    <div class="row">
      <div class="col-md-6 ">


        
        <form>
          <h4>Sign in <br><small class="text-muted">Please sign in to continue.</small></h4>
           <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <button class="btn btn-primary">Sign in</button>
        </form>
        <br>
      </div>
      <div class="col-md-6 border-left">
        <h4>Register</h4>
        <form>

        </form>
      </div>
    </div>
  </div>
</ng-template>