.full-container{
    padding: 1em;
    display: flex;
    height: 100vh;
    background: url('../assets/images/landing-bg.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
}

.main{
    flex: 10;
    display: flex;
}

.f-surveys{
    display: flex;
    color: #fff;
    flex-basis: 60%;
    margin:10% auto auto auto;
    flex-direction: column;
}


.m-flex{
    display: flex;
}


.resp{
    padding-top: 6px;
}

.m-vertical{
    margin: auto 0;
}
.nav-item{
    flex: 1;
}

.nav{
    display: flex;
    flex: 1;
}






.flex-item{
    display: flex;
    box-sizing: border-box;
    flex: 1;
}

.margin-lr{
    padding: 0 20px;
}


.flex-container{
    display: flex;
}
.v-center{
    margin: auto 0;
}


.foot{
    display: flex;
    flex-flow: row;
    flex: 1;
    
}

.btn-primary{
    background-color: #e74c3c;
    border-color: #cf4436;
}




.btn.btn-secondary{
    padding: .5rem 1.5rem;
}



.f-right{
    justify-content: flex-end;
}
.f-left{
    justify-content: flex-start;
}

.f-center{
    margin: auto;
}

.f-bottom{
    align-self: flex-end;
}

.logo-temp{
    color: #fff;
    font-size: 24px;
}


p{
    margin-bottom: 0;
}